rgb(10,201,159) bluegreen
rgb(255,209,102) yellow
rgb(239,71,11) red
rgb(19,39,57) blue
rgb(254,254,254) white

head{

}
body{
  background-color: rgb(255,209,102);
  margin: 0;
  border: 0;
  padding: 0;
}
td{
 padding-top: 150px;
 padding-right: 30px;
}
h1{
  padding-left: 0;
  padding-bottom: 0;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 75px;
  color: rgb(10,201,159);
}
h2{
  font-family: 'Indie Flower', cursive;
}
h3{
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
}
h4{
  font-family: 'Indie Flower', cursive;
  font-size: 75px;
}
p{
font-size: 22px;
font-family: serif;
color
}

ul {
  list-style-type: none;
  background-color: rgb(10,201,159);
  border: solid, rgb(19,39,57);
  height: 75%;
  width: 80%;
  margin: 0;
  padding: 5;

}

li {
font-family: 'Concert One', cursive;
font-size: 52px;
width: 100;
}

img{
  border: solid black 2px;
  height: 160px;
  width: 160px;
}
#dogcover1{
  height: 200px;
  width: 300px;
}
#rightarrow{
  height: 200px;
  width: 150px;
  padding: 0px;
  border: none;
}
  a{
    padding-left: 0;
    padding-bottom: 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 75px;
    color: rgb(10,201,159);
}

li:hover{
  font-family: monospace;
  font-size: 53px;
  color: orange;
}

.col-sm-3{
  padding-top: 190;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  border: 0;
}
.col-sm-6{
  padding-right: 0;
  margin: 0;
  border: 0;
}
